/* Universal reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Basic body styles */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Ensure images and media are responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove default button and input styles */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove text decoration from links */
a {
  text-decoration: none;
}

@layer base {
  /* Keep other global styles here */
}